body {
    text-align: center;
    font-family: Arial, sans-serif;
    transition: all 0.5s;
};

.PrimaryBtn{
cursor: pointer;

}


#changeColorBtn{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}